@keyframes spin {
  from {
    -gtk-icon-transform: rotate(0deg);
  }
  to {
    -gtk-icon-transform: rotate(360deg);
  }
}

button.scanning image {
  animation: spin 1s linear infinite;
}

@keyframes row-pulse {
  50% {
    background-color: alpha(@accent_bg_color, 0.25);
  }
}

.bt-busy,
.wifi-busy {
  animation: row-pulse 1.5s ease-in-out infinite;
}
