@keyframes spin {
  from {
    -gtk-icon-transform: rotate(0deg);
  }
  to {
    -gtk-icon-transform: rotate(360deg);
  }
}

button.scanning image {
  animation: spin 1s linear infinite;
}

@keyframes pulse {
  from {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0.3;
  }
}

.connecting-pulse {
  animation: pulse 1.2s ease-in-out infinite;
}
